*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

/*Navbar*/

.navbar{
    display: flex;
    justify-content: center;
    background: rgba(0, 100, 0, 0.342);
    position: sticky;
    top: 0;
}

.navbar ul{
    background:rgba(0, 0, 0, 0.342);
    display: flex;
    list-style: none;
    margin: 20px;
    padding: 20px 0px;
    
}

.navbar ul li
{
   
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: bold;
    padding: 8px 25px;
    transition: all .5s ease;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
}

.navbar ul li a:hover{
    background-color: white;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 10px white;
}

/*Home section*/
#home{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0);
    height: 730px;
    justify-content: center;
    align-items: center;
    
   
    
}

#home::before{
   
    content:"";
    position: absolute;
    top:0;
    right:0;
    background:url('junnun.jpg') no-repeat center center/cover;;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .8;
    border-radius: 30px;

}

.main{
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    align-items: center;
    position: absolute;
    top: 30%;
    left:8%;
    
}

.headings{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100px;
    text-align: center;
    font-size: auto;
}


/*About section*/
#about{
    display:flex;
    flex-direction: column;
    margin: 30px;
  
}



#pic
{
    display: flex;
    top: 10px;

}

#pic img{
    width: 600px;
    height: 600px;
    border-radius: 30px;
}

#intro
{
    margin: 10px;
}

#pic h2{
    font-size: 70px;
}

#pic p{
    font-size: 30px;
}

/*My Work*/
#my-work{
    display:flex;
    flex-direction: column;
    margin: 30px;
    
}

#work-container
{
display: flex;
flex-direction: row;
}

.project
{  
    
    justify-content: center;
    height: 300px;
    width: 300px;
    background: forestgreen;
    border-radius: 30px;
    margin: 20px;
    text-align: center;
}
.project-img {
   width:100%
    
}

/*#project:hover
{
    height: 500px;
    width: 500px;  
    transition: 1s; 
}
*/
#project:hover
{
    content: attr(title);
    display: inline-block;
}
#project h3
{   
    justify-content: center;
    text-align: center;
    font-size: 50px;
    color: beige;
}

#project img :hover
{
   height: 100px;
   width: 100px;
}